body, html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

.dev-header__wrapper {
    width: 100vw;
    z-index: 100;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bs-danger);
}

.dev-header__txt {
    padding: 0;
    margin: .5em;
}

.ps-header__wrapper {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    padding: .5em;
}

.ps-header__img {
    height: 75px;
    width: fit-content;
}

.ps-header__git {
    right: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-right: 1em;
    transition: all 250ms;
}

.ps-header__git:hover {
    transform: scale(110%);
}

.ps-header__home {
    left: 0;
    position: absolute;
    margin-left: 1em;
    height: 40px;
    width: 40px;
    transition: all 250ms;
}

.ps-header__home:hover {
    transform: scale(110%);
}

.ib-footer__wrapper {
    overflow-x: hidden;
    width: 100vw;
    padding: .5em 1em .5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 62%, rgba(126,126,126,0.25) 81%, rgba(1,1,1,1) 100%);
}

.ib-footer__container {
    display: flex;
    align-items: center;
}

.ib-footer__txt {
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
}

.ib-footer__link {
    color: #fff;
    transition: all 250ms;
}

.ib-footer__link:hover {
    text-decoration-color: var(--bs-border-color);
}

.loading-page {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-dark);
}

.loading-page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-page__logo {
    height: 75px;
    width: auto;
}

.welcome-msg {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.welcome-msg__description {
    padding: .5em 0 .5em 0;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4em;
}

.grid-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item {
    width: 30vw;
    height: 100%;
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    background-color: var(--bs-dark-bg-subtle);
}

.grid-item__img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 1em;
}

.grid-item__title {
    text-align: center;
}

.grid-item__description {
    text-align: center;
}

.wrapper {
    padding-bottom: 1em;
    text-align: center;
}

.sim-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
    text-align: left;
}

.viewport {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sketch {
    border-radius: 1em;
    margin-top: 1em;
}

.ctrl__data {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
    padding: 1em;
    background-color: var(--bs-dark-bg-subtle);
    border-radius: 1em;
    width: 50vw;
    -webkit-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
}

.ctrl__data p {
    padding-left: .5em;
    padding-right: .5em;
    margin-top: 0;
}

.ctrl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-left: .5em;
    padding: 1em;
    max-width: 30vw;
    min-width: 20vw;
    height: 100%;
    background-color: var(--bs-dark-bg-subtle);
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
}

.ctrl__form__block--horizontal {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}


.ctrl__form__block--vertical {
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
}

.ctrl__form__label {
    margin: 0
}

.ctrl__form__block--horizontal input {
    margin: .5em;
}

.ctrl__form__block--vertical input {
    margin: .5em;
}

.ctrl__btn {
    margin: .5em;
}

.table {
    overflow-x: scroll;
    text-align: center;
    margin: 0;
    padding: 0;
}

.table__btns {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.table__btn {
    padding: 1em;
}

@media (max-width: 600px) {

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item {
        width: 90vw;
    }

    .wrapper {
        width: 100%;
        overflow-x: scroll;
    }

    .sim-wrapper {
        flex-direction: column;
    }

    .ctrl__data {
        width: 100%;
    }

    .ctrl {
        max-width: 100%;
        min-width: none;
        margin-left: 0;
    }
}
