body, html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 2.5em;
}

.sim-wrapper {
    display: flex;
    margin-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
}

.sketch {
    border-radius: 1em;
    margin-top: 1em;
}

.ctrl__data {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--bs-dark-bg-subtle);
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
}

.ctrl__data p {
    padding-left: .5em;
    padding-right: .5em;
    margin: 0;
}

.ctrl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-left: .5em;
    padding: 1em;
    max-width: 30vw;
    background-color: var(--bs-dark-bg-subtle);
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.75);
}

.ctrl__form__block {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.ctrl__form__label {
    margin: 0
}

.ctrl__form__block input {
    margin: .5em;
}

.ctrl__btn {
    margin: .5em;
}

.table {
    width: 70%;
    margin: 0;
    text-align: center;
}

.table__btns {
    display: flex;
}

.table__btn {
    padding: 1em;
}
